<% content_for :title do %>About<% end%>
<h3>About Foobar Kadigan</h3>
<p>He waborn in Waikikamukau, New Zealand.  He left New Zealand for England, excelled at the University of Moperty, and served in teh Royal Loamshire Regiment.  While in service, he invented the kanuten valve used in the processing of unobtainium for industrial use. With a partner, Granda Fairbook, he founded Acme Manufacturing, later acquired by the Advent Corporation, to develop his discovery for use int eh Turboencabulator.  Mr. Kadigan is now retired and lives in Middlehampton with a favority cat, where he raises Griadium frieda and collects metasyntactic variables.</p>
<p>His favority quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua.</P>
